input{
    border-radius: 10px;
    padding: 5px;
    height: 40px;
    border: 1px solid blueviolet;
}

.header-signup{
    color: blueviolet;
}

form input:last-child{
    background-color: rgb(138,156,107);
    color:black;
    font-weight: 600;
}
